@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0px);}
}

#slider {
  width: calc(100% + 40px);
  transition: transform 1s ease-in-out; /* Smooth transition */
  animation: shake 0.8s infinite; /* Infinite shake animation */
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: url("../../../assets/slider-icon.svg"),
    #D9BC20;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-size: contain;
  cursor: pointer;
}
/* The runnable track is not clcikable now and only the drag will change the value of the slide */
#slider::-webkit-slider-runnable-track{
  height: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  #slider {
    width: calc(100% + 54px);
  }
  #slider::-webkit-slider-thumb {
    height: 54px;
    width: 54px;
  }

}