.swiper-button-prev {
  color: snow !important;
  top: 50% !important;
  left: 40% !important;

}
.swiper-button-next {
  color: snow !important;
  top: 50% !important;
  right: 40% !important;
}

/* .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  visibility: hidden;
} */

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 24px !important;
}

.swiper-pagination-bullet-active, .swiper-pagination-bullet {
  background-color: snow !important;
}

.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}

.juus-component, .nova-component {
  transition: all 10s ease-in-out 5s;
}
